<% facturas_array = Array.new(12,0) %>
<% 
@egresos = 0
@ingresos = 0
    @facturas = Factura.find :all, :joins => [:usuario], :conditions => ["usuarios.empresa_id = ?",current_usuario.empresa_id] 
    @nombreEmpresa = Empresa.find :all, :conditions => ["id = ?",current_usuario.empresa_id] 

%>
<% @facturas.each do |factura| %>
    <% if factura.nombre_emisor == @nombreEmpresa.first.name%>
        <% facturas_array[factura.fechaExpedicion.month - 1]+=factura.total    %>
        <% @egresos += factura.total%>
        <% else %>
            <% @ingresos += factura.total%>
    <% end %>
<% end %>
<script type="text/javascript">
    document.getElementById('tabla').onclick = function() {
        alert('Hey!');
    }
</script>
<script type="text/javascript">
$(function () {
        $('#container1').highcharts({
            chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Ventas por mes',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
            },
            xAxis: {
                categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                    'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
            },
            yAxis: {
                title: {
                    text: 'Pesos Mexicanos'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valuePrefix: '$'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Ventas por mes',
                data: <%= facturas_array %>
            }]
        });
    });
    

    </script>
<script type="text/javascript">
  
  $(function () { 
    $('#container2').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Egresos vs. Ingresos'
        },
        series: [{
                type: 'pie',
                data: [
                    ['Egresos',   <%= @egresos %>],
                    ['Ingresos', <%= @ingresos %>],
                ]
            }]
    });})
</script>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#facturas_charts').highcharts({
      chart: {
        type: "bar"
      },
      title: {
        text: "Orders by Day"
      },
      xAxis: {
        type: "datetime"
      },
      yAxis: {
        title: {
          text: "Dollars"
        }
      },
      series: [{

        data: [1,2,5,7,3]
      }]
    });
  });
</script>


<div class="container">
<h1>Listing facturas</h1>

<center>
<div class="row-fluid">
    <div class="span4"></div>
    <div class="span8">       
    </div>
</div>
    <div class="row">
            <div class="span3 bs-docs-sidebar">
                <ul class="nav nav-list bs-docs-sidenav">
                    <li><a id="submenu" class="submenu" href="#grafica1"  ><i class="icon-chevron-right"></i> Venta por mes</a></li>
                    <li><a id="submenu" class="submenu" href="#grafica2"><i class="icon-chevron-right"></i> Egresos vs. Ingresos</a></li>
                </ul>
            </div>
        <div class="span9">

            <!-- Download
        ================================================== -->
            <section id="grafica1" class="docs">
                <div class="page-header">
                    <h3>1. Venta por mes</h3>
                </div>
                <p>
                    <div id="container1" ></div>  
                </p>
            </section>
            <!-- File structure
        ================================================== -->
            <section id="grafica2" class="docs">
                <div class="page-header">
                    <h3>2. Egresos vs. Ingresos</h3>
                </div>
                <p>
                    <div id="container2" ></div>  
                </p>
            </section>
 
           
        </div>
    </div>




<br />
</center>
</div>
<%= link_to 'New Factura', new_factura_path %>
