
<center><div id="users" style = "width:800px">
  <h1>Lista de usuarios</h1>
  <table class="tablesorter">
  	<tr>
		<th>Nombre</th>
		<th>Email</th>
		<th></th>
		<th></th>
	</tr>

    <%= render @usuarios %>
   </table>
</div>
   <%= link_to 'Nuevo usuario',  new_usuario_path , :class => "btn btn-large btn-primary" %>

</center>


