 <center><div style="width:500px">
<!--	 <div class="tabbable">
	 	<ul class="nav nav-tabs"> 
	 		<li class="active"><a href="#tab1" data-toggle="tab">Paso 1</a></li>
			<li><a href="#" data-toggle="tab">Paso 2</a></li> 
		</ul> 
		<div class="tab-content"> 
			<div class="tab-pane active" id="tab1"> 
				<p>I'm in Section 1.</p>
			</div> 
			<div class="tab-pane" id="tab2"> 
				<p> Howdy, I'm in Section 2.</p> 
			</div> 
		</div> 
	</div>-->
	<h1>Nueva empresa</h1>

	<%= render 'form' %>

	<%= link_to_function 'Back', 'history.back()' %>
</div></center>