$baseFontFamily: Oxygen;
$navbarBackground: White;
$btnPrimaryBackground: lightgreen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import 'bootstrap';
body {
	padding-top: 60px;
}
@import 'bootstrap-responsive';

.navbar-inner{
	@include box-shadow(none !important);
	border: 0;

}
.footer {
	margin-top: 50px;
	color: $grayLight;
	a{
		color: $lightgray;
	}
}